:host {
  display: block;

  table {
    width: 100%;
  }

  .filter-bar-placeholder {
   // height: 55px;
    margin-bottom: 20px;
  }
}
.table-wrapper {
  position: relative;
}

.loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; 
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}


